<template>
  <div class="burger">
    <div class="burger__menu" @click="menuStatus = !menuStatus">
       <p class="burger__menu-text">  {{ menuStatus ? 'X' : 'Меню'}} </p>
    </div>
    <div class="burger__content" v-if="menuStatus">
      <div class="burger__content-item item" v-for="item in 5" :key="item">
        <a href="" class="item__text">Главная</a>
        <p class="item__num">01</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Burger",
  data(){
    return{
      menuStatus:false,
    }
  },
}
</script>

<style scoped>
.burger{}
.burger__menu{
  border: 2px solid #FFFFFF;
  width:76px;
  height:76px;
  border-radius:50%;
  position: relative;
  z-index: 9999999;
  display:flex;
  align-items: center;
  justify-content: center;
}
.burger__menu-text{
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}
.burger__content{
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  right:0;
  width:100%;
  height:100%;
  background: linear-gradient(180deg, #0389A7 0%, #4EB2E9 97.92%);
  display:flex;
  align-items: center;
}
.item:not(:last-child){
  margin-right: 60px;
}
.item__text{
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 31px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration:none;
}
.item__num{
  position: relative;
  border-radius: 2px;
  width:37px;
  height:24px;
  text-align: center;
  margin-top:10px;
  color:white;
}
.item__num::after{
  content:"";
  position: absolute;
  left: 0;top:0;
  z-index: 2;
  width: 37px;
  height: 24px;
  background: white;
  opacity: 0.2;
}
</style>