<template>
  <section id="header">
    <div class="header container">
      <div class="header__logo">
        <Logo />
      </div>
      <nav class="header__nav nav">
        <div class="nav__hamburger hamburger" :class="{'active': menuStatus}"  @click="menuStatus = !menuStatus">
          <div class="hamburger__text">  {{ menuStatus ? 'X' : 'Меню'}} </div>
        </div>

        <ul class="nav__list" :class="{'active': menuStatus}">
          <nuxt-link tag="li" to="/" class="nav__link" data-after="Home" exact>
            {{ $t('header.home') }}
          </nuxt-link>
          <nuxt-link tag="li" :to="localePath('process')" data-after="process" class="nav__link">
            {{ $t('header.process') }}
          </nuxt-link>
          <nuxt-link tag="li" :to="localePath('about')" data-after="about" class="nav__link">
            {{ $t('header.about') }}
          </nuxt-link>
          <nuxt-link tag="li" :to="localePath('developers')" data-after="developers" class="nav__link">
            {{ $t('header.developers') }}
          </nuxt-link>
          <nuxt-link tag="li" :to="localePath('portfolio')" data-after="portfolio" class="nav__link">
            {{ $t('header.portfolio') }}
          </nuxt-link>
          <nuxt-link tag="li" :to="localePath('contacts')" data-after="contacts" class="nav__link">
            {{ $t('header.contacts') }}
          </nuxt-link>
          <nuxt-link
              class="nav__lang"
              v-for="locale in availableLocales"
              :key="locale.code"
              :to="switchLocalePath(locale.code)">
            {{ locale.name }}
          </nuxt-link>
        </ul>
      </nav>
    </div>
  </section>
</template>

<script>

export default {
name: "Header",
  data() {
    return {
      menuStatus: false
    }
  },
  computed: {
    availableLocales () {
      return this.$i18n.locales.filter(i => i.code !== this.$i18n.locale)
    }
  }
}
</script>

<style scoped>
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}
.container {
  max-width: 1173px;
  margin: 0 auto;
  padding: 0 10px;

}
.header {
  min-height: 8vh;
  /*background-color: rgba(31, 30, 30, 0.24);*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.nav__list {
  list-style:none;
  background-color: transparent;
  left: 100%;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: .3s ease left;
  position: initial;
  display: block;
  height: auto;
  width: fit-content;
}
.nav__lang{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  /*color: #FFFFFF*/
  color:#000000;
  text-decoration:none;
}
.nav__list.active {
  left: 0;
}

@media (max-width: 1200px) {
  .nav__list {
    background: linear-gradient(180deg, #0389A7 0%, #4EB2E9 97.92%);
    position: absolute;
    width: 100vw;
    display: flex;
    height: 100vh;
  }
  .nav__link {
    display: block;
  }
  .nav__link::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248,255,0.021);
    font-size: 15rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
    /*display: none;*/
  }
}

.nav__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  /*color: #FFFFFF;*/
  color: #000000;
  padding: 20px;
  display: inline-block;
  cursor: pointer;
}

.nav__link:hover {
  color: #18C4FB;
}
.nav__link.nuxt-link-exact-active {
  color: #18C4FB;
}
.nav__link:hover::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}
.hamburger {
  border: 2px solid #FFFFFF;
  width:76px;
  height:76px;
  border-radius:50%;
  position: relative;
  z-index: 100;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav__hamburger {
  display: none;
}
@media(max-width:1200px) {
  .nav__hamburger {
    display: flex;
  }
}
.header__logo {
  z-index:999;
}
.header__nav {}
.nav {}

</style>