<template>
<div class="container">portfolio</div>
</template>

<script>
export default {
name: "index"
}
</script>

<style scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>