<template>
  <button
      class="button"
      :class="[
        classes ? 'button__' + classes : '',
        {
        'is-disabled': disabled,
        'is-plain': plainColor,
        }
    ]"
      :disabled="disabled"
      @click="handleClick">
    <slot v-if="$slots.default"><span></span></slot>
  </button>
</template>

<script>
export default {
  name: "Button",
  props: {
    plainColor: Boolean,
    disabled: Boolean,
    classes: {
      type: String,
      default: () => ''
    },
  },
  computed: {},
  methods: {
    handleClick(evt) {
      this.$emit('click', evt);
    }
  }
}
</script>

<style  scoped>
/*.button {*/
/*  cursor: pointer;*/
/*  padding: 10px 15px;*/
/*  border-radius: 4px;*/
/*  border: none;*/
/*  outline: none;*/
/*  &.is-disabled {*/
/*    opacity: 0.8;*/
/*    pointer-events: none;*/
/*  }*/
/*  &:hover {*/
/*    opacity: 0.8;*/
/*  }*/
/*  &.is-plain {*/
/*  }*/

/*  &__default {}*/
/*}*/
.button{
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 15px;
  line-height: 17px;
  background: #18A0FB;
  color:#ffffff;
}
.button.is-plain {
  border: 2px solid #010E30;
  color: #010E30;
  background: transparent;
}
</style>