<template>
  <div class="container">
    {{ $t('about') }}
    GIG
  </div>
</template>

<script>
export default {
}
</script>

<style scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
