<template>
  <div class="developer">
    <div class="container">
      <h2 class="developer__headline">Разработчики</h2>
      <div class="developer__content">
        <div class="developer__description description">
          <h3 class="description__name">{{portfolio.name}}</h3>
          <h3 class="description__rang">{{portfolio.rang}}</h3>
          <p class="description__stack">{{portfolio.stack}}</p>
          <p class="description__about">{{portfolio.about}}
          </p>
          <div class="developer__action">
            <UiButton plainColor classes="project">ПРОЕКТЫ</UiButton>
            <UiButton >Собеседование</UiButton>
          </div>
        </div>
        <div class="developer__workers" >
          <div class="workers" v-for="(item, key) in portfolios" :key="key">
            <input class="workers__input" type="radio" name="work" :id="item.id" @change="valueInput(key)">
            <label class="workers__label" :for="item.id">
              <img class="workers__img" src="~/static/images/developer-image-2.png">
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "index",
  data(){
    return{
      portfolio: {
        name: 'Гурген Егиазарян',
        rang: 'Senior Frontend разработчик.',
        stack: 'Стек: Javascript, Vue.js, Vuex, Vue-router, Axios, GraphQl, Rest Api, Html, CSS, БЕМ.',
        about:"Опыт работы более 4 лет. В основном работает как фронтенд разработчик. На\n" +
            "              данный момент"
      },
      portfolios:[
        {
          name: 'Гурген Егиазарян',
          rang: 'Senior Frontend разработчик.',
          stack: 'Стек: Javascript, Vue.js, Vuex, Vue-router, Axios, GraphQl, Rest Api, Html, CSS, БЕМ.',
          about:"Опыт работы более 4 лет. В основном работает как фронтенд разработчик. На\n" +
              "              данный момент",
          id: 0,

        },
        {
          name: 'Hrant Xachatryan',
          rang: 'Senior Frontend разработчик.',
          stack: 'Стек: Javascript, Vue.js, Vuex, Vue-router, Axios, GraphQl, Rest Api, Html, CSS, БЕМ.',
          about:"Опыт работы более 4 лет. В основном работает как фронтенд разработчик. На\n" +
              "              данный момент",
          id: 1,

        },
        {
          name: 'Гурген Егиазарян',
          rang: 'Senior Frontend разработчик.',
          stack: 'Стек: Javascript, Vue.js, Vuex, Vue-router, Axios, GraphQl, Rest Api, Html, CSS, БЕМ.',
          about:"Опыт работы более 4 лет. В основном работает как фронтенд разработчик. На\n" +
              "              данный момент",
          id: 2,

        },
        {
          name: 'Hrant Xachatryan',
          rang: 'Senior Frontend разработчик.',
          stack: 'Стек: Javascript, Vue.js, Vuex, Vue-router, Axios, GraphQl, Rest Api, Html, CSS, БЕМ.',
          about:"Опыт работы более 4 лет. В основном работает как фронтенд разработчик. На\n" +
              "              данный момент",
          id: 3,

        },
      ],
    }
  },
  methods:{
    valueInput(key){
      this.portfolio = this.portfolios.find(value => value.id === key)
    }
  },
}
</script>

<style scoped>
.container {
  max-width: 1173px;
  margin: 0 auto;
  padding: 0 10px;
}
.developer{
  margin-top:180px;
}
.developer__headline{
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 72px;
  text-transform: uppercase;
  color: #010E30;
}
.developer__content{
  margin-top:51px;
  display:flex;
}
.description {}
.description__name {
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  text-transform: uppercase;
  color: #18A0FB
}
.description__rang{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  margin-top:24px;
}
.description__stack {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-top: 39px;
}
.description__about{
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-top: 15px;

}
.developer__action{
  margin-top:31px;
}
::v-deep .button__project{
  padding: 13px 36px;
  margin-right: 29px;
}
.developer__workers{
  width:50%;
}
.workers{
  position: relative;
}
.workers:nth-child(2n) {
  display:flex;
  justify-content: flex-end;
}
.workers__img{
  border-radius:50%;
  vertical-align: middle;
}
.workers__input:checked + .workers__label{
  border:5px solid #4BB1E9;
}
.workers__input{
  display:none;
}
.workers__label{
  border:5px solid transparent;
  -webkit-writing-mode: vertical-rl;
  border-radius:50%;
}
</style>