<template>
  <div class="main">
    <div class="container">
      <div class="main__content content">
        <h2 class="content__headline">
          достаВим больше
          чем ожидалось
        </h2>
        <div class="content__action">
          <UiButton @click="moreInfo" classes="more-info">ПОДРОБНЕЕ</UiButton>
        </div>
      </div>
    </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters({
      list: 'home/list'
    }),
    availableLocales () {
      return this.$i18n.locales.filter(i => i.code !== this.$i18n.locale)
    }
  },
  methods: {
    moreInfo() {

    }
  }
}
</script>

<style scoped>
.container {
  max-width: 1173px;
  margin: 0 auto;
  padding: 0 10px;
}
.main {
  width: 100%;
  min-height: 100vh;
  background: url("~/static/images/main-image.png") no-repeat, center;
  background-size: cover;
}
.main:after {
  content: '';
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #1C0968 0%, #1E4694 97.92%);
  opacity: .3;
  z-index: 1;
}
.main__content{
  position: relative;
  z-index: 2;
  padding-top:318px;
}
.content__headline {
  width:75%;
  font-weight: bold;
  font-size: 70px;
  line-height: 100px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media(max-width: 1500px) {
  .content__headline {
    font-size: 60px;
  }
}@media(max-width: 1024px) {
  .content__headline {
    font-size: 50px;
    line-height: 65px;
  }
}@media(max-width: 720px) {
  .content__headline {
    width: 100%;
    font-size: 40px;
  }
}

.content__action {
  margin-top:8px;
}
::v-deep .button__more-info {
  font-size: 20px;
  line-height: 22px;
  padding: 18px 32px 15px;
}
</style>
